body {
    background-color: #333; /* check */
    color: #F4F4F4; /* check */
    font-family: 'Courier New', Courier, monospace; /* check */
    font-size: 18px; /* check */
}

/* Contenedor principal */
.app {
    width: 75%; /* check */
    margin: 20px auto; /* check */
    gap: 20px; /* check */
}

/* No margin, no padding */
.no-margin-no-padding {
    margin: 0;
    padding: 0;
}

/* Centrar contenido */
.center-content {
    display: flex; /* check */
    justify-content: center; /* check */
    align-items: center; /* check */
}

/* Columna centrada */
.column-content {
    display: flex; /* check */
    flex-direction: column; /* check */
    align-items: center; /* check */
}

/* Botones de la p치gina */
.button-container {
    display: flex; /* check */
    margin: auto; /* check */
}

.button-container form {
    margin: 5px; /* check */
}

.submit-button {
    background: #333; /* check */
    cursor: pointer; /* check */
    border: none; /* check */
    padding: 8px 24px; /* check */
    color: #FFF; /* check */
    font-size: 24px; /* check */
    font-weight: bold; /* check */
    border-radius: 12px; /* check */
    transition: all 0.3s ease; /* check */
}

.submit-button:hover {
    transform: scale(1.05); /* check */
    background: black; /* check */
    color: #F4F4F4; /* check */
}

/* Cabecera */
.main-header {
    display: flex; /* check */
    flex-direction: column; /* check */
    align-items: center; /* check */
    margin: 20px; /* check */
}

.main-header .header-title {
    font-size: 36px; /* check */
    font-weight: 700; /* check */
    text-transform: uppercase; /* check */
    letter-spacing: 2px; /* check */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* check */
}

.main-header .link-linkedin {
    color: #FFF; /* check */
    font-weight: 700; /* check */
    text-decoration: none; /* check */
}

.link-linkedin:hover {
    text-decoration: underline; /* check */
}

/* App */
.app .add-players {
    background-color: #F4F4F4; /* check */
    border: 3px solid black;
    border-radius: 30px; /* check */
    color: #333; /* check */
    font-family: 'Times New Roman', Times, serif; /* check */
    font-size: 24px; /* check */
    padding: 25px; /* check */
}

.add-players form {
    display: flex; /* check */
}

.add-players #addPlayer {
    border-radius: 12px; /* check */
    padding: 5px 10px; /* check */
    font-size: 20px; /* check */
    width: 100%; /* check */
    margin: 10px; /* check */
}

.add-players .add-button {
    background-color: blue; /* check */
    height: 75%; /* check */
    margin: auto; /* check */
}

.add-button:hover {
    background-color: darkblue; /* check */
}

.app .view-players {
    background: white; /* check */
    font-size: 16px; /* check */
    color: #333; /* check */
    border: 3px solid black;
    border-radius: 30px; /* check */
    padding: 25px; /* check */
}

.view-players h1 {
    font-size: 36px; /* check */
    text-transform: uppercase; /* check */
    margin: 0; /* check */
}

.view-players hr {
    border: 1px solid black; /* check */
    width: 100%; /* check */
}

.view-players .list-player {
    list-style-type: none; /* check */
    margin: 10px; /* check */
}

.list-player .list-player-img {
    width: 15px; /* check */
    height: 15px; /* check */
}

.list-player .edit-player-form {
    margin: 5px; /* check */
}

.edit-player-form label {
    color: black; /* check */
    font-weight: bold; /* check */
}

.edit-player-form input {
    border-color: orange; /* check */
    border-radius: 12px; /* check */
    padding: 5px 10px; /* check */
    margin: auto; /* check */
}

.edit-player-form .edit-list-player {
    margin: 10px; /* check */
}

.edit-list-player .edit-list-button {
    font-size: 12px; /* check */
}

.edit-list-player button:hover {
    transform: scale(1.05); /* check */
}

/* Pie de p치gina */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.license {
    color: #F4F4F4;
    text-decoration: none;
    text-transform: uppercase;
}

.license:hover {
    font-weight: 700;
    text-decoration: underline;
}

.version {
    color: #F4F4F4;
    text-decoration: none; 
}

.version:hover {
    font-weight: 700;
}

.match-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.match-list {
    list-style-type: none;
    padding-left: 0;
}

.match-item {
    margin: 10px;
}

.back-link {
    color: #F4F4F4;
    text-decoration: none;
}

.back-link:hover {
    font-weight: 700;
    text-decoration: underline;
}

/* --- Media Queries --- */

/* Para pantallas peque침as (m칩viles) */
@media (max-width: 850px) {
    .main-header .header-title {
        font-size: 24px;

    }

    .app .add-players {
        width: 100%;
        padding: 15px;
    }

    .app .add-players form {
        flex-direction: column;
        width: auto;
        align-items: center;
        margin: 0 auto;
    }

    #addPlayer {
        width: 100%;
        margin: 10px;
    }

    .submit-button {
        font-size: 18px;
        padding: 10px 20px;
    }

    .view-players {
        width: 100%;
        padding: 10px;
    }

    #no-players {
        font-size: 14px;
    }

    .list-player {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}