body {
    background-color: #333;
    color: #F4F4F4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

/* Contenedor principal */
.app {
    width: 75%;
    margin: 20px auto;
    gap: 20px;
}

/* No margin, no padding */
.no-margin-no-padding {
    margin: 0;
    padding: 0;
}

/* Centrar contenido */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenido de columna centrada */
.column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Botones de la página */
.button-container {
    display: flex;
    margin: auto;
}

.button-container form {
    margin: 5px;
}

.submit-button {
    background: #333;
    cursor: pointer;
    border: none;
    padding: 8px 24px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.05);
    background: black;
    color: #F4F4F4;
}

/* Cabecera */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.main-header .header-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-header .link-linkedin {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
}

.link-linkedin:hover {
    text-decoration: underline;
}

/* App */
.app .add-players {
    background-color: #F4F4F4;
    border: 3px solid black;
    border-radius: 30px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 25px;
}

.add-players form {
    display: flex;
}

.add-players #addPlayer {
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 20px;
    width: 100%;
    margin: 10px;
}

.add-players .add-button {
    background-color: blue;
    height: 75%;
    margin: auto;
}

.add-button:hover {
    background-color: darkblue;
}

.app .view-players {
    background: white;
    font-size: 16px;
    color: #333;
    border: 3px solid black;
    border-radius: 30px;
    padding: 25px;
}

.view-players h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}

.view-players hr {
    border: 1px solid black;
    width: 100%;
}

.view-players .list-player {
    list-style-type: none;
    font-size: 18px;
}

.list-player span {
    flex: 1;
    margin-right: 10px;
}

.list-player button {
    margin-left: 5px;
}

.list-player .list-player-img {
    width: 20px;
    height: 20px;
}

.view-players ul hr {
    border: 1px solid #ccc;
}

.list-player .edit-player-form {
    margin: 5px;
}

.edit-player-form label {
    color: black;
    font-weight: bold;
}

.edit-player-form input {
    border-color: orange;
    border-radius: 12px;
    padding: 5px 10px;
    margin: auto;
}

.edit-player-form .edit-list-player {
    margin: 10px;
}

.edit-list-player .edit-list-button {
    font-size: 12px;
}

.edit-list-player button:hover {
    transform: scale(1.05);
}

.reset-button {
    background-color: red;
}

.reset-button:hover {
    background-color: darkred;
}

.match-button {
    background-color: green;
}

.match-button:hover {
    background-color: darkgreen;
}

/* Pie de página */
.footer-license {
    color: #F4F4F4;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-license:hover {
    font-weight: 700;
    text-decoration: underline;
}

.footer-version {
    color: #F4F4F4;
    text-decoration: none;
}

.footer-version:hover {
    font-weight: 700;
}

@media (max-width: 725px) {
    /* Cabecera */
    .main-header .header-title {
        font-size: 24px;
    }

    .main-header p {
        font-size: 16px;
    }

    /* App */
    .app .add-players form {
        flex-direction: column;
    }

    .add-players #addPlayer {
        width: auto;
        margin: 10px;
    }

    .add-players .submit-button {
        font-size: 18px;
    }

    .view-players section p {
        font-size: 14px;
    }

    .view-players .list-player {
        font-size: 14px;
    }

    .list-player .list-player-img {
        width: 15px;
        height: 15px;
    }

    .edit-player-form label {
        padding: 5px;
    }

    .edit-player-form input {
        margin: 5px;
    }

    .edit-list-player .edit-list-player {
        margin: 0;
    }

    .edit-player-form .edit-list-player {
        margin: 0;
    }

    .edit-list-player .edit-list-button {
        margin: 5px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    /* Pie de página */
    footer p {
        font-size: 16px;
    }
}

/* --------------------------------------- */

.back-link {
    color: #F4F4F4;
    text-decoration: none;
}

.back-link:hover {
    font-weight: 700;
    text-decoration: underline;
}